{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Информация об авторе сайта
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p align="justify">

                Привет случайный посетитель! Ты находишья на странице, 
                рассказывающей небольшую информацию об одном из авторов 
                данного проекта.</br></br>

                Начем с того, что второй и по совместительсту главный автор 
                этого сайта является проектная командая Яндекс.Практикум.
                Вот кстати <a href=https://praktikum.yandex.ru>ссылочка</a> 
                на этих замечательных ребят.</br></br>

                Что касается меня <a href=https://github.com/nicefme>вот</a> 
                мой профиль на Github, пока там практически ничего нет, но я 
                стремлюсь к тому, чтобы в будующем там было на что 
                посмотреть.</br></br>

                В програмировании я недавно, мое обучение началось около трех 
                месяцев назад, обучение не такое простое, как может показаться 
                в самом начале. Приходится учить и понимать язык на котором 
                необходимо "разговаривать" с компьютером. Это очень трудно, но 
                когда что-то получается, ты чувствуешь, что ты сможешь 
                стать профессионалом!</br></br>
                
                Больше всего во время работы мне помогала усидчивость и 
                внутренне сопротивление оставить дело незавершенным, а тем 
                более отстать от всей группы. Учеба проходит по принципу, что 
                я должен сделать все или даже больше запланированного на 
                сегодня.</br></br>
                
                Свою рабочую кружку я обязательно выложу, но сначала ее 
                необходимо сфотографировать! (она находится на работе)
                
            </p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %} 