{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Информация об авторе сайта
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p align="justify">

                Привет случайный посетитель! Ты находишья на странице, 
                рассказывающей небольшую информацию об авторе 
                данного проекта.</br></br>

                Мой профиль на <a href=https://github.com/nicefme>Github</a>.

            </p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %} 