{% extends "base.html" %}
{% block title %}Технологии проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Технологии
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Технологии, примененные при создании сайта
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            
            <p align="justify">
                
                <div class="jumbotron jumbotron-fluid">
                  <div class="container">
                    <h1 class="display-4">Django (Python)</h1>
                    <p class="lead">веб-фреймворк</p>
                  </div>
                </div>

                <div class="jumbotron jumbotron-fluid">
                  <div class="container">
                    <h1 class="display-4">SQLite</h1>
                    <p class="lead">встраиваемая СУБД</p>
                  </div>
                </div>
               
            </p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %} 