<div class="card mb-3 mt-1 shadow-sm">

    <!-- Отображение картинки -->
    {% load thumbnail %}
    {% thumbnail post.image "960x339" crop="top" upscale=True as im %}
    <img class="card-img img-fluid" src="{{ im.url }}" />
    {% endthumbnail %}
    <!-- Отображение текста поста -->
    <div class="card-body">
      <p class="card-text">
        <!-- Ссылка на автора через @ -->
        <a name="post_{{ post.id }}" href="{% url 'posts:profile' post.author.username %}">
          <strong class="d-block text-gray-dark">@{{ post.author }}</strong>
          
        </a>
        {{ post.text|linebreaksbr }}
      </p>
      
  
      <!-- Если пост относится к какому-нибудь сообществу, то отобразим ссылку на него через # -->
      {% if post.group %}
      <a class="card-link muted" href="{% url 'posts:group' post.group.slug %}">
        <strong class="d-block text-gray-dark">#{{ post.group.title }}</strong>
      </a>
      {% endif %}
  
      <!-- Отображение ссылки на комментарии -->
      <div class="container">
        <div class="row">

          {% if post.comments.exists %}
          <div class="row">
          <div class="col-sm-auto">
            <a class="btn btn-sm ">
            Комментариев: {{ post.comments.count }} 
            </a>
          </div>
          </div>
          {% endif %}
          <div class="row">
          <div class="col-sm-auto">
            <a class="btn btn-sm btn-secondary " href="{% url 'posts:post' post.author.username post.id %}" role="button">
            Добавить комментарий
            </a>  
          </div>
        </div>
        
          <!-- Ссылка на редактирование поста для автора -->
            {% if user == post.author %}
            <div class="row">
            <div class="col-sm-auto">
            <a class="btn btn-sm btn-secondary" href="{% url 'posts:post_edit' post.author.username post.id %}" role="button">
            Редактировать
            </a>
          </div>
        </div>
                
          <!-- Ссылка для удаления поста для автора -->
          <div class="row">
          <div class="col-sm-auto">
            <a class="btn btn-sm btn-danger" href="{% url 'posts:post_del' post.author.username post.id %}" role="button">
            Удалить
            </a>
          </div>
        </div>
        
            {% endif %}
          
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <div class="row">
            <div class="col-sm-auto">
              <a class="btn btn-sm ">
              Рейтинг:  
              </a>
            </div>
          </div></div>
            
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2 d-flex justify-content-between align-items-center">
                {% for i in i|rjust:5 %}
                
                <a class="btn btn-sm
                 
                
                " href="{% url 'posts:post_rate' post.author.username post.id forloop.counter %}" role="button">
                
                  {% if post.post_rate_avg is None %}
                  <span style="color:rgba(0, 0, 0, 0.541)">●</span>
                  {% elif forloop.counter <= post.post_rate_avg %}
                  <span style="color:rgb(255, 196, 0)">●</span>
                  {% else %}
                  <span style="color:rgba(0, 0, 0, 0.541)">●</span>
                  {% endif %}
                 
                  
                </a>
                {% endfor %}
                
                
                <!---<button type="button" class="btn btn-sm btn-light">1</button>
                  
                <button type="button" class="btn btn-sm btn-light">2</button>
                <button type="button" class="btn btn-sm btn-light">3</button>
                <button type="button" class="btn btn-sm btn-light">4</button>
                <button type="button" class="btn btn-sm btn-light">5</button>--->
              </div>

            
            
          </div>
        </div>
      </div>
      <div class="text-right">  
        <small class="text-muted">{{ post.pub_date }}</small>
      </div>
      </div>
    </div>
  </div> 


