  <nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-lg ">
    <a class="navbar-brand" href="/"><span style="color:rgb(199, 198, 198)">Ya</span><span style="color:rgb(255, 255, 255)">tube</span></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" >
        {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="/{{ user }}/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Create
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="{% url 'posts:new_post' %}">New post</a></li>
              <li><a class="dropdown-item" href="{% url 'posts:new_group' %}">New group</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'password_change' %}">Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'signup' %}">Signup</a>
          </li>
        {% endif %}
      </ul>

    </div>
  </nav>