<nav class="navbar navbar-light" style="background-color: #575757;">
    
    <a class="navbar-brand" href="/"><span style="color:rgb(199, 198, 198)">Ya</span><span style="color:rgb(255, 255, 255)">tube</span></span></a>
    <nav class="my-2 my-md-0 mr-md-3">
        
        {% if user.is_authenticated %}
        <a class="p-2 text-white" href="/{{ user }}/">Пользователь: {{ user.username }}</a> <a class="text-white">|</a> 
        <a class="p-2 text-white" href="{% url 'posts:new_group' %}">Новая группа</a> <a class="text-white">|</a> 
        <a class="p-2 text-white" href="{% url 'posts:new_post' %}">Новая запись</a> <a class="text-white">|</a> 
        <a class="p-2 text-white" href="{% url 'password_change' %}">Изменить пароль</a> <a class="text-white">|</a> 
        <a class="p-2 text-white" href="{% url 'logout' %}">Выйти</a> 
        {% else %}
        <a class="p-2 text-white" href="{% url 'login' %}">Войти</a> <a class="text-white">|</a> 
        <a class="p-2 text-white" href="{% url 'signup' %}">Регистрация</a>
        {% endif %}

    </nav>
</nav> 